# ESP-IDF
build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.log

# VS Code
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Agent
.agent/
.claude/
.gemini/

nul
